body {
    background-color:  #f0f2f5;
    overflow: visible;
}

.main {
    padding: 2rem;
    font-family: sans-serif;
    color: #1f2937;
    min-height: 100vh;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
