.banner {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 3vw;
    align-items: center;
    margin-top: 1vh;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #284368;
    margin-bottom: 1rem;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.coTitle {
    text-align: center;
}

.profilePic {
    border-radius: 10svw;
    object-fit: cover;
    border-radius: 9999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 10svw;
    min-width: 150px;
}

.pictureDiv {
    position: relative;
    width: fit-content;
}

.techStack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20svw;
    min-width: 300px;
    pointer-events: none;
}

@media (max-height: 1170px) {
    .pictureDiv {
        margin-top: 5vh;
    }
}